.section-product {
    margin: 0 12vw;
}

.nav-category {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    margin-bottom: 36px;
}

.nav-category ul {
    background-color: #F7F3F2;
    padding: 10px;
    border-radius: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-category li {
    display:inline-block;
    padding: 8px 12px;
    cursor: pointer;
    margin: 0 8px;
    color: gray;  
    text-transform: capitalize;  
}

.nav-category li:hover {
    color: black;
    text-shadow: 1px 1px 10px white;
}

.list-product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.search-bar input[type=text] {
    height: 30px;
    width: 130px;
    box-sizing: border-box;
    border: none !important;
    border-radius: 15px;
    font-size: 16px;
    /* background-color: white; */
    background-image: url('./../../assets/search.png');
    background-size: 20px 20px;
    background-position: 10px 7px; 
    background-repeat: no-repeat;
    padding: 0 20px 0 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
  
.search-bar input[type=text]:focus {
    width: 80%;
    background-color: white;
    transition: width 0.4s ease-in-out;
    border: none !important;
    outline: none !important;
}

@media screen and (max-width: 768px) {
    .nav-category {
        text-align: center;
    }

    .section-product .title-text {
        padding-bottom: 0;
    }

    .nav-category ul {
        flex-direction: column;
    }
}