a {
    text-decoration: none !important;
    /* color: black !important; */
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    /* text-shadow: 1px 1px 1px black; */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: #72ceb8;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 99;
}

.nav-active {
    border-bottom: 2px solid white;
}

.nav-item {
    margin-left: 10px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    margin: 10px;
    text-transform: capitalize;
}

.header-logo {
    display: block;
    margin-top: 16px;
    cursor: pointer;
}

.header-logo img {
    width: 100px;
    object-fit: cover;
}

.header .nav-item a {
    color: black;
}

.header.actived .nav-item a {
    color: white;
}

.header.actived .nav-item a:hover {
    color: black;
}

.nav-item:hover, .toggle-nav:hover {
    color: black !important;
    border-bottom: 1px solid #F7F3F2;
    transition: 0.2s;
}

.drop-down {
    position: relative;
    display: inline-block;
}
  
.drop-down-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 101;
    color: black;
    cursor: pointer;
    top: 20px;
}
  
.drop-down:hover .drop-down-content {
    display: block;
}

.drop-down-content a {
    color: black !important;
}

.badge-custom {
    position: absolute;
    top: 24px;
    margin-left: 15px;
    background-color: #e74b5a;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10px;
}

@media screen and (max-width: 767px) {
    .navigation {
        position: fixed;
        top: 80px;
        right: -100%;
        height: 100%;
        width: 80%;
        padding: 2rem;
        background-color: #DAF3ED;
        transition: .5s;
        backdrop-filter: blur(10px);
    }

    .show {
        right: 0;
    }

    a .navigation {
        color: black !important;
        cursor: pointer;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .toggle-nav {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
    }

    .nav-list {
        display: flex;
        margin-bottom: -16px;
    }

    .header {
        background-color: transparent;
        color: black;
        display: flex;
    }

    .header.actived {
        background-color: #72CEB8;
        color: white;
    }

    .nav-item:hover, .toggle-nav:hover {
        color: #FCF6BD;
        border-bottom: 1px solid #FCF6BD;
    }

    .nav-active {
        border-bottom: 1px solid white;
    }

    .show {
        right: 0;
    }
}

div {
    /* border: 1px black solid; */
}